// Specific CSS for your home-page

body {
  margin: 0;
  color: white;
  font-family: helvetica;
  background-color: #38A700;
}

.home-banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.results-container {
  width: 50%;
  margin-top: 10%;
  text-align: center;
}

.results-container h1 {
  font-size: 60px;
}

.home-container {
  margin-top: 10%;
  text-align: center;
}

.home-container h1 {
  font-size: 80px;
  margin: 0;
}

.travel-figures {
  display: flex;
}

.travel-container {
  width: 25%;
}

.home-form {
  width: 40%;
  margin: 0 auto;
}
